*

!/assets/
!/bin/
!/config/
!/lib/
!/public/
!/views
!/.ruby-version
!/config.ru
!/Gemfile
!/Gemfile.lock
!/package.json
!/package-lock.json
!/postcss.config.js
!/Rakefile

/assets/builds/
/public/assets/
**/*.key
