!!!
%html{ lang: 'en-US' }
  %head
    %meta{ charset: :utf8 }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
    %title UMTS Dev Training

    %link{ rel: :icon, href: '/favicon.ico', sizes: :any }
    %link{ rel: :icon, href: '/icon.svg', type: 'image/svg+xml' }
    %link{ rel: :stylesheet, href: asset_path('application.css') }
    %script{ src: asset_path('application.js'), defer: true }

  %body
    %main.container
      = yield
