!!!
%html{ lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
    %title UMTS Dev Training

    %link{ rel: :manifest, href: '/manifest.webmanifest' }
    %link{ rel: :icon, href: '/favicon.ico', sizes: :any }
    %link{ rel: :icon, href: '/icon.svg', type: 'image/svg+xml' }
    %link{ rel: 'apple-touch-icon', href: '/apple-touch-icon.png' }
    %link{ rel: :stylesheet, href: asset_path('application.css') }
    %script{ src: asset_path('application.js'), defer: true }

  %body
    %main
      != yield

    %footer
      %a{ href: 'https://www.umass.edu' }
        &copy; #{Time.now.year} University of Massachusetts Amherst
      %a{ href: 'https://www.umass.edu/site-policies' } Site Policies
      %a{ href: 'mailto:transportation-it@groups.umass.edu' } Site Contact
      %a{ href: 'https://github.com/umts/dev-training-web' } Site Source
