@use '@picocss/pico/scss/pico' with (
  $enable-semantic-container: true,
  $enable-classes: false,

  $modules: (
    "content/embedded": false,
    "content/table": false,
    "content/figure": false,

    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,

    "components/accordion": false,
    "components/dropdown": false,
    "components/group": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false
  )
);

@use "site-theme";

html, body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
  max-width: 100%;
  padding: var(--pico-spacing);
  display: flex;
  justify-content: center;
  gap: calc(var(--pico-spacing) * 2);
  background: var(--pico-secondary);
  color: var(--pico-secondary-inverse);
  a {
    display: block;
    color: inherit;
  }
}
