name: ci
permissions:
  contents: read
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: bin/rake
